.creator {
    padding:10px 90px;
    justify-content: space-between;
}

.creator-left {
    width:90%;
}

.creator-right {
    width:10%;
}

.creator-left__title {
    font-size: 2.5rem;
}

.creator-left__presentation {
    font-size: 1.8rem;
}